<h1><%= customer_name @customer %></h1>
<p>Email: <%= @customer.email %></p>
<p>Phone: <%= number @customer %></p>
<br>
<h2>Appointments:</h2>
<% @customer.appointments.future_appointments.each do |appointment| %>
   <p><%= link_to appointment_name(appointment), customer_appointment_path(@customer, appointment) %></p>
   <p><%= date_time(appointment) %>
<% end %>
<br>
<br>
<h2>Categories:</h2>
<% @customer.categories.uniq.each do|category| %>
   <p><%= link_to category_name(category), customer_category_path(@customer, category) %></p>
   <% end %>
<br>


<p><%= link_to "New Appointment", new_customer_appointment_path(@customer) %></p>
<p><%= link_to "Edit Customer", edit_customer_path(@customer) %></p>
<p><%= button_to "Delete Customer", customer_path(@customer), method: :delete %></p>
