<%= form_for @appointment do |f| %> 
    <%= f.hidden_field :category_id %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :user_id %>

    <p><%= f.label :name %> 
    <%= f.text_field :name %></p>

    <p><%= f.label :start_time %> 
    <%= f.datetime_field :start_time %></p>

    <p><%= f.label :end_time %> 
    <%= f.datetime_field :end_time %></p>

    <p><%= f.label :price %> 
    <%= f.number_field :price %></p>

    <h2>Choose or Create New Customer</h2>
    <p><%= f.label :customer %> 
    <%= f.collection_select(:customer_id, current_user.customers.all, :id, :full_name, {include_blank: 'Select a Customer'}) %></p>

    <%= f.fields_for :customer, Customer.new do |c| %>
        <p><%= c.label :first_name %>
        <%= c.text_field :first_name %></p>

        <p><%= c.label :last_name %>
        <%= c.text_field :last_name %></p>

        <p><%= c.label :email %>
        <%= c.email_field :email %></p>

        <p><%= c.label :phone_number %>
        <%= c.text_field :phone_number %></p>
    <% end %>

    <h2>Choose or Create New Category</h2>
    <p><%= f.label :category %> 
    <%= f.collection_select(:category_id, current_user.categories.all, :id, :name, {include_blank: 'Select a Category'}) %></p>
 
    <%= f.fields_for :category, Category.new do |c| %>
        <p><%= c.label :name %>
        <%= c.text_field :name %></p>
    <% end %>

    <%= f.submit %>

<% end %> 