<h1>Upcoming Appointments</h1>

<%= month_calendar(start_time: :start_date, end_time: :end_date) do |date| %>
    <%= date %>
<% end %>

<%= current_user.appointments.each do |a| %>
    <h3><%= link_to a.name.capitalize, appointment_path(a) %></h3>
    <p>Date: <%= a.date_view %></p>
    <p>Time: <%= a.start_time_view %></p>
    <p>Duration: <%= a.duration %></p>
<% end %>
