<h1>Appointments</h1>

<%= flash[:error] %>

<%= month_calendar( events: @appointments) do |date, meetings| %>
    <%= date %>
  
    <% meetings.each do |meeting| %>
      <div>
        <%= link_to appointment_name(meeting), appointment_path(meeting) %> - <%= time meeting %>
      </div>
    <% end %>
<% end %>




