<h1>Upcoming Appointments</h1>
<%= upcoming_appointments.each do |a| %>
    <h3><%= link_to a.title.capitalize, appointment_path(a) %></h3>
    <p>Date: <%= a.date_view %></p>
    <p>Time: <%= a.start_time_view %></p>
    <p>Duration: <%= a.duration %></p>
<% end %>
