<h3><%= @appointment.title.capitalize %></h3>
<p>Time: <%= @appointment.start_time_view %></p>
<p>Duration: <%= @appointment.duration %></p>
<p>Price: <%= @appointment.price_view %></p>
<p>Customer: <%= @appointment.customer.full_name %></p>
<p>Category: <%= @appointment.category.name.capitalize %></p>

<p><%= button_to "Delete Appointment", appointment_path(@appointment), method: :delete %></p>
<p><%= link_to "Edit Appointment", edit_appointment_path(@appointment) %></p>