<h1><%= appointment_name @appointment %></h1>
<p>Date: <%= date @appointment %></p>
<p>Time: <%= time @appointment %></p>
<p>Duration: <%= duration @appointment %></p>
<p>Price: <%= price @appointment %></p>
<p>Customer: <%= display_customer @appointment %></p>
<p>Category: <%= display_category @appointment %></p>

<p><%= link_to "Edit Appointment", edit_appointment_path(@appointment) %></p>
<p><%= button_to "Delete Appointment", appointment_path(@appointment), method: :delete %></p>
