<h1><%= @appointment.name.capitalize %></h1>
<p>Date: <%= @appointment.date_view %></p>
<p>Time: <%= @appointment.start_time_view %></p>
<p>Duration: <%= @appointment.duration %></p>
<p>Price: <%= number_to_currency(@appointment.price) %></p>
<p>Customer: <%= link_to @appointment.customer.full_name, customer_path(@appointment.customer) %></p>
<p>Category: <%= link_to @appointment.category.name.capitalize, category_path(@appointment.category) %></p>

<p><%= button_to "Delete Appointment", appointment_path(@appointment), method: :delete %></p>
<p><%= button_to "Edit Appointment", edit_appointment_path(@appointment) %></p>