<h1><%= @appointment.name.capitalize %></h1>
<p>Date: <%= appointment_date_view(@appointment.start_time) %></p>
<p>Time: <%= appointment_time_view(@appointment.start_time) %></p>
<p>Duration: <%= @appointment.duration %></p>
<p>Price: <%= number_to_currency(@appointment.price) %></p>
<p>Customer: <%= link_to @appointment.customer.full_name, customer_path(@appointment.customer) %></p>
<p>Category: <%= link_to @appointment.category.name.capitalize, category_path(@appointment.category) %></p>

<p><%= button_to "Delete Appointment", appointment_path(@appointment), method: :delete %></p>
<p><%= link_to "Edit Appointment", edit_appointment_path(@appointment) %></p>