<h1><%= category_name @category %></h1>
<br>

<h2>Appointments</h2>
<% @category.appointments.each do |appointment| %>
    <p><%= link_to appointment_name(appointment), category_appointment_path(@category, appointment) %></p>
    <p><%= date_time appointment %></p>
<% end %>
<br>

<h2>Customers</h2>
<% @category.customers.uniq.each do |customer| %> 
    <p><%= link_to customer_name(customer), category_customer_path(@category, customer) %></p>
<% end %>
<br>

<p><%= link_to "New Appointment", new_category_appointment_path(@category) %></p>
<p><%= link_to "Edit Category", edit_category_path(@category) %></p>
<p><%= button_to "Delete Category", category_path(@category), method: :delete %></p>
