<h1><%= @category.name %></h1>
<br>

<h2>Appointments</h2>
<% @category.appointments.each do |a| %>
    <p><%= link_to a.name.capitalize, category_appointment_path(@category, a) %></p>
    <p><%= appointment_date_time_view(a.start_time) %></p>
<% end %>
<br>

<h2>Customers</h2>
<% @category.customers.uniq.each do |c| %> 
    <p><%= link_to c.full_name, category_customer_path(@category, c) %></p>
<% end %>
<br>

<p><%= link_to "New Appointment", new_category_appointment_path(@category) %></p>
<p><%= link_to "Edit Category", edit_category_path(@category) %></p>
<p><%= button_to "Delete Category", category_path(@category), method: :delete %></p>
